/__pycache__/
/__pycache__/*
\\__pycache__\\
temp.csv
UnusualCSVStore/__pycache__/unusual_csv_store.cpython-38.pyc
UnusualCSVStore/__pycache__/unusual_dataframe.cpython-38.pyc
UnusualCSVStore/__pycache__/unusual_dataframe.cpython-38.pyc
